In [1]:
import pandas as pd

In [4]:
students= pd.read_csv('/Users/rajoad/Documents/GitHub/Practice-/Student_Performance.csv')
students.head(2)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0

In [5]:
students.describe()
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [6]:
students.isna().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [7]:
outliers= {}
for col in students.select_dtypes(include=['float64', 'int64']).columns:
    Q1= students[col].quantile(0.25)
    Q3= students[col].quantile(0.75)
    IQR=Q3-Q1
    lower_bound= Q1-1.5*IQR
    upper_bound= Q3+1.5*IQR
    outlier_indices= students[(students[col] < lower_bound) | (students[col] > upper_bound)].index.tolist()
    outliers[col]= outlier_indices
outliers

{'Hours Studied': [],
 'Previous Scores': [],
 'Sleep Hours': [],
 'Sample Question Papers Practiced': [],
 'Performance Index': []}